body {
  /*background-image: url('../images/voback4.png');*/
  height: 100vh;
  overflow-x: hidden;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #221335; 	
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 27%;
    height: 430vh;
}
#particles-js1 {
  position: absolute;
  /*width: 12%;*/
  height: 118vh;
}
#particles-js2 {
  position: absolute;
  /*width: 12%;*/
  height: 118vh;
  right:0;
}
#particles-js3 {
  position: absolute;
  width: 22%;
  height: 430vh;
  right:0;
}

#particles-js8 {
  position: absolute;
  height: 110vh;
  width: 22%;
}
#particles-js9 {
  position: absolute;
  height: 110vh;
  width: 25%;
  right:0;
}

#particles-js10 {
  position: absolute;
  height: 110vh;
  width: 22%;
}
#particles-js11 {
  position: absolute;
  height: 110vh;
  right:0;
  width: 27%;
}



/*#particles-js4 {
  position: absolute;
  height: 165vh;
}*/
/*.upper {
  background-image: url('../images/voback4.png');
  height: 123vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: 100%;
  font-family: 'Roboto Regular';
  background-attachment: fixed;
}*/
.night {
  position: relative;
  width: 100%;
  /*height: 100%;*/
  transform: rotateZ(45deg);
  top:75%;	
  right:30%;
}

.night2 {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(-125deg);
  left:25%; 	
}
.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #fff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -35px);
  left: calc(50% - 171px);
  -webkit-animation-delay: 8883ms;
          animation-delay: 8883ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 8883ms;
          animation-delay: 8883ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -175px);
  left: calc(50% - 46px);
  -webkit-animation-delay: 4147ms;
          animation-delay: 4147ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 4147ms;
          animation-delay: 4147ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 143px);
  left: calc(50% - 19px);
  -webkit-animation-delay: 1625ms;
          animation-delay: 1625ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 1625ms;
          animation-delay: 1625ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 199px);
  left: calc(50% - 110px);
  -webkit-animation-delay: 5973ms;
          animation-delay: 5973ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 5973ms;
          animation-delay: 5973ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 183px);
  left: calc(50% - 128px);
  -webkit-animation-delay: 5975ms;
          animation-delay: 5975ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 5975ms;
          animation-delay: 5975ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 200px);
  left: calc(50% - 259px);
  -webkit-animation-delay: 9747ms;
          animation-delay: 9747ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 9747ms;
          animation-delay: 9747ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 142px);
  left: calc(50% - 256px);
  -webkit-animation-delay: 9399ms;
          animation-delay: 9399ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 9399ms;
          animation-delay: 9399ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 71px);
  left: calc(50% - 297px);
  -webkit-animation-delay: 4996ms;
          animation-delay: 4996ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 4996ms;
          animation-delay: 4996ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 113px);
  left: calc(50% - 295px);
  -webkit-animation-delay: 6090ms;
          animation-delay: 6090ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 6090ms;
          animation-delay: 6090ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -174px);
  left: calc(50% - 181px);
  -webkit-animation-delay: 8193ms;
          animation-delay: 8193ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 8193ms;
          animation-delay: 8193ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 0px);
  left: calc(50% - 286px);
  -webkit-animation-delay: 2902ms;
          animation-delay: 2902ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 2902ms;
          animation-delay: 2902ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -47px);
  left: calc(50% - 246px);
  -webkit-animation-delay: 2496ms;
          animation-delay: 2496ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 2496ms;
          animation-delay: 2496ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -189px);
  left: calc(50% - 202px);
  -webkit-animation-delay: 4768ms;
          animation-delay: 4768ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 4768ms;
          animation-delay: 4768ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - 0px);
  left: calc(50% - 229px);
  -webkit-animation-delay: 101ms;
          animation-delay: 101ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 101ms;
          animation-delay: 101ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -110px);
  left: calc(50% - 298px);
  -webkit-animation-delay: 2194ms;
          animation-delay: 2194ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 2194ms;
          animation-delay: 2194ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 103px);
  left: calc(50% - 67px);
  -webkit-animation-delay: 4664ms;
          animation-delay: 4664ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 4664ms;
          animation-delay: 4664ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -55px);
  left: calc(50% - 147px);
  -webkit-animation-delay: 2924ms;
          animation-delay: 2924ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 2924ms;
          animation-delay: 2924ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -72px);
  left: calc(50% - 37px);
  -webkit-animation-delay: 8216ms;
          animation-delay: 8216ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 8216ms;
          animation-delay: 8216ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 180px);
  left: calc(50% - 140px);
  -webkit-animation-delay: 2490ms;
          animation-delay: 2490ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 2490ms;
          animation-delay: 2490ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -100px);
  left: calc(50% - 172px);
  -webkit-animation-delay: 3334ms;
          animation-delay: 3334ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 3334ms;
          animation-delay: 3334ms;
}


.shooting_star_mv {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #fff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  /*-webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;*/
}
.shooting_star_mv::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star_mv::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star_mv:nth-child(1) {
  top: calc(50% - -35px);
  left: calc(50% - 171px);
  /*-webkit-animation-delay: 8883ms;
          animation-delay: 8883ms;*/
}
.shooting_star_mv:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  /*-webkit-animation-delay: 8883ms;
          animation-delay: 8883ms;*/
}
.shooting_star_mv:nth-child(2) {
  top: calc(50% - -175px);
  left: calc(50% - 46px);
  /*-webkit-animation-delay: 4147ms;
          animation-delay: 4147ms;*/
}
.shooting_star_mv:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  /*-webkit-animation-delay: 4147ms;
          animation-delay: 4147ms;*/
}
.shooting_star_mv:nth-child(3) {
  top: calc(50% - 143px);
  left: calc(50% - 19px);
  /*-webkit-animation-delay: 1625ms;
          animation-delay: 1625ms;*/
}
.shooting_star_mv:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  /*-webkit-animation-delay: 1625ms;
          animation-delay: 1625ms;*/
}
.shooting_star_mv:nth-child(4) {
  top: calc(50% - 199px);
  left: calc(50% - 110px);
  /*-webkit-animation-delay: 5973ms;
          animation-delay: 5973ms;*/
}
.shooting_star_mv:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  /*-webkit-animation-delay: 5973ms;
          animation-delay: 5973ms;*/
}
.shooting_star_mv:nth-child(5) {
  top: calc(50% - 183px);
  left: calc(50% - 128px);
  /*-webkit-animation-delay: 5975ms;
          animation-delay: 5975ms;*/
}
.shooting_star_mv:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  /*-webkit-animation-delay: 5975ms;
          animation-delay: 5975ms;*/
}
.shooting_star_mv:nth-child(6) {
  top: calc(50% - 200px);
  left: calc(50% - 259px);
  /*-webkit-animation-delay: 9747ms;
          animation-delay: 9747ms;*/
}
.shooting_star_mv:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  /*-webkit-animation-delay: 9747ms;
          animation-delay: 9747ms;*/
}
.shooting_star_mv:nth-child(7) {
  top: calc(50% - 142px);
  left: calc(50% - 256px);
  /*-webkit-animation-delay: 9399ms;
          animation-delay: 9399ms;*/
}
.shooting_star_mv:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  /*-webkit-animation-delay: 9399ms;
          animation-delay: 9399ms;*/
}


@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
/*shooting star*/



/*loader css*/
.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 400;
}

.plane {
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  top: 25px;
  left: 20px;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}
.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px darkviolet, inset 0 0 60px white;
}
.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px white;
}
.plane.main .circle::before {
  transform: translateZ(-90px);
}
.plane.main .circle::after {
  transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
/*loader css*/
.main-container {
    position: absolute;
    /*z-index: 9999;*/
    top: 0;
    left: 0; right:-15px;
    border-top: 3px solid #a41c84;
}
.main-container2 {
    position: absolute;
    /*z-index: 9999;*/
    top: 0;
    left: 0; right:-15px;
    border-top: 3px solid #a41c84;
}
.main-container3 {
    position: absolute;
    /*z-index: 9999;*/
    top: 0;
    left: 0; right:-15px;
    border-top: 3px solid #a41c84;
}
.logo img {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: block;
    padding: 20px;
}
.titlebox { width: 100%; float: left; margin-top: 30px; }
.titlebox h1 { color: #FFF;
text-align: center;
font-weight: bold;
/*font-size: 45px;*/
font-size: 30px;
letter-spacing: 1px;
}

.titlebox p { color: #FFF;
text-align: center;
font-weight: 300; font-size: 22px; letter-spacing:1px; }
.cardarea { width: 100%; float: left; margin: 30px 0;}
.selectbutton {
    max-width: 400px;
    /*background: #a52381;*/
    background: none;
    width: 100%;
    color: #fff;
    /*height: 50px;*/
    line-height: 50px;
    font-size: 25px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-top: 60px;  
    transition: 0.4s;  
    border-radius: 50px;
    /*cursor:none !important;*/
    text-decoration:none;
    border:none; 
    font-weight: bold;
    margin-bottom: 150px;
}
.selectbutton2 {
    background: #a52381;
    width:auto;
    padding: 0 20px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    /*text-transform: uppercase;*/
    letter-spacing: 1px; transition: 0.4s; 
    font-weight: normal;
    border-radius: 50px;
}
.selectbutton2:hover { color: #fff; }
.animate-bounce  {animation: bounce 1s infinite;}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

.selectbutton:hover { color: #fff; }
.cardimg { width: 100%; float: left; text-align: center; margin-bottom: 25px;}
.cardimg img { max-width: 180px; width: 100%; border-radius: 15px; border: 1px solid #800080; box-shadow: 10px 10px 5px #ffd700;-moz-box-shadow: 10px 10px 5px #ccc;-webkit-box-shadow: 0 0 30px #ffd700;-khtml-box-shadow: 10px 10px 5px #ccc;}
.personalized { width: 100%; float: left;  background-image: linear-gradient(#221335, #3d235e); /*padding: 100px 0;*/ }
.personalized h2 { padding: 20px;
color: #fff;
text-align: center;
font-size: 30px;
line-height: 40px;
}

.personalized span {
    color: #377bb7;
}
.personalized ul { list-style: none; }
.personalized ul li { display: inline-block;
padding: 10px 0 30px 0;
color: #fff;
font-size: 17px;
text-align: left;
}
.personalized ul li span { float: left; font-size: 18px; position: relative; left: -48px; }
.personalized ul li p { padding-left: 27px; margin-bottom: 0; text-align: center; }

.videosection { width: 100%; float: left; background-image: linear-gradient(#3d235e, #3d235f); padding: 130px 0 0 0;  }
.vdo-bg {
    background: #311b4d;
    padding: 30px 20px 20px 20px;
}
.videosection h3 { padding: 20px;
letter-spacing: 1px;
color: #fff;
text-align: center;
font-size: 18px;
margin-top: 15px;
}
.videosection span {
    font-size: 70px;
    color: #e8e4c5;
    background: #fff;
    max-width: 130px;
    margin: 0 auto;
    height: 130px;
    line-height: 130px;
    border-radius: 20px;
    display: inline-block;
}
.videosection p { display: inline-block;
padding: 10px;
color: #fff;
font-size: 14px;
letter-spacing: 1px;
margin-bottom: 0;
margin-top: 10px;
width: 100%;
}
.oraclecards { width: 100%; float: left; background-image: linear-gradient(#3d235f, #3d235f); padding: 70px 0 0 0; }
.oraclecards h2 { padding: 20px;
letter-spacing: 2px;
color: #fff;
text-align: center;
font-size: 18px;
word-spacing: 3px; }
.oraclecards p { color: #fff;
text-align: center;
font-size: 13px;
letter-spacing: 2px; }
.ourmission {  width: 100%; margin:0 auto;  /*padding:0 0 100px 0;*/ padding:0 0 0 0;}
.ourmission h2 { padding: 30px 0;
letter-spacing:0;
color: #fff;
text-align: center;
font-size: 24px;
margin: 0;
font-weight: bold;
 }

.ourmission p { 
color: #fff;
text-align: center;
font-size: 14px;
letter-spacing: 1px;
}

.questions {  width: 100%; float: left;  padding:70px 0 0 0; background-image: linear-gradient(#3d235f, #000); position: relative; }
 .faq-bg { width: 100%; float: left; /*background-image: url(../images/patterns-footer-aits.png);*/ background-size: cover; min-height:400px; }   
.questions h2 { padding: 0 20px;
color: #fff;
text-align: center;
font-size: 24px;
word-spacing: 0;
margin: 0 0 30px 0; font-weight: bold; }
/**/
#main {
    max-width: 800px;
    margin: 0 auto;
}
#main #faq .card {
  margin-bottom: 5px;
  border: 0;
  letter-spacing: 1px;
  font-size: 14px;
  background: transparent;
}

#main #faq .card .card-header {
  border: 0;
  /*-webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);*/
  border-radius: 2px;
  padding: 0;
}

#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  /*background: #A541BB;*/
  background: #800080; 
  padding: 10px 15px;
  font-weight: normal;
  font-size: 16px;
letter-spacing: 1px;
}

#main #faq .card .card-header .btn-header-link:after {
  content: "\f068";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  float: left;
  padding-right: 15px;
  background: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #A541BB;
  padding: 0px 7px;
  font-size: 14px;
  line-height: 25px;
  margin-right: 16px;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  /*background: #A541BB;*/
  background: #800080;
  color: #fff;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f067";
}

#main #faq .card .collapsing {
  /*background: #FFE472;*/
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  /*background-color: rgba(0,0,0,0.9);*/
  line-height: 30px;
  color: #fff;
  border-bottom: 1px solid;
}
.card .card-body {
    padding: 10px 15px;
   /* border-top: 1px solid #EFD462;*/
}
.btn:focus, .btn.focus { box-shadow: none; }
/**/
.footer { width: 100%;float: left; background-color:#000; padding: 20px 0; }
.footer p { margin:0; font-size: 16px; color: #fff; }
.footer a { color: #fff; font-size: 16px; margin-left: 10px; }
#loader{opacity:0.5; background: #000;z-index:44;}

/*card csss*/
ul.cards {
  width: 660px;
  margin: 0 auto 20px;
  height: 300px;
  list-style-type: none;
  position: relative;
  padding: 20px 0;
  cursor: pointer;
}
ul.cards li.title {
  margin: 0 0 20px;
}
ul.cards li.title h2 {
  font-weight: 700;
}
ul.cards li.card {
  background: #FFF;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 0px;
  box-shadow: 1px 2px 2px 0 #aaa;
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}
ul.cards li.card img {
  max-width: 100%;
  height: auto;
}
ul.cards li.card div.content {
  padding: 5px 10px;
}
ul.cards li.card.card-1 {
  z-index: 10;
  /*transform: rotateZ(-2deg);*/
}
ul.cards li.card.card-2 {
  z-index: 9;
  /*transform: rotateZ(-7deg);*/
  transition-delay: 0.05s;
}
ul.cards li.card.card-3 {
  z-index: 8;
  /*transform: rotateZ(5deg);*/
  transition-delay: 0.1s;
}
ul.cards.transition li.card {
  transform: rotateZ(0deg);
}
ul.cards.transition li.card.card-1 {
  left: 440px;
}
ul.cards.transition li.card.card-2 {
  left: 220px;
}
ul.cards-split {
  width: 640px;
  height: 350px;
  list-style-type: none;
  position: relative;
  margin: 0 auto 20px;
  padding: 20px;
  /*cursor: pointer;*/
}
ul.cards-split li.title {
  margin: 0 0 20px;
}
ul.cards-split li.title h2 {
  font-weight: 700;
}
ul.cards-split li.card {
  /*background: #FFF;*/
   background: #800080;
  overflow: hidden;
  /*height: 200px;*/
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 220px;
  /*box-shadow: 1px 2px 2px 0 #aaa;*/
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}
ul.cards-split li.card img {
  max-width: 100%;
  height: auto;
}


ul.cards-split-signl {
  width: 640px;
  height: 350px;
  list-style-type: none;
  position: relative;
  margin: 0 auto 20px;
  padding: 20px;
  /*cursor: pointer;*/
}
ul.cards-split-signl li.title {
  margin: 0 0 20px;
}
ul.cards-split-signl li.title h2 {
  font-weight: 700;
}
ul.cards-split-signl li.card {
  /*background: #FFF;*/
   background: #800080;
  overflow: hidden;
  /*height: 200px;*/
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 220px;
  /*box-shadow: 1px 2px 2px 0 #aaa;*/
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}
ul.cards-split-signl li.card img {
  max-width: 100%;
  height: auto;
}

/*ul.cards-split li.card div.content {
  padding: 5px 10px;
}*/
ul.cards-split li.card.card-1 {
  z-index: 8;
  /*transform: rotateZ(-2deg);*/
}
ul.cards-split li.card.card-2 {
  z-index: 9;
  /*transform: rotateZ(-7deg);*/
  transition-delay: 0.05s;
}
ul.cards-split li.card.card-3 {
  z-index: 10;
  /*transform: rotateZ(5deg);*/
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-4 {
  z-index: 11;
  /*transform: rotateZ(5deg);*/
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-5 {
  z-index: 12;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-6 {
  z-index: 13;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-7 {
  z-index: 14;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-8 {
  z-index: 15;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-9 {
  z-index: 16;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-10 {
  z-index: 17;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-11 {
  z-index: 18;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-12 {
  z-index: 19;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-13 {
  z-index: 20;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-14 {
  z-index: 21;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-15 {
  z-index: 43;
  transition-delay: 0.1s;
  border-radius: 15px;
  border: 1px solid #800080;
  /*box-shadow: 10px 10px 5px #9e9e9e;*/
  animation: mymove 3s infinite;
  box-shadow: 0rem 0rem 2rem #ffd700;
  /*-moz-box-shadow: 10px 10px 5px #9e9e9e;
  -webkit-box-shadow: 0 0 30px #9e9e9e;
  -khtml-box-shadow: 10px 10px 5px #9e9e9e;*/
}


ul.cards-split-signl li.card.card-1 {
  z-index: 43;
  transition-delay: 0.1s;
  border-radius: 15px;
  border: 1px solid #800080;
  animation: mymove 3s infinite;
  box-shadow: 0rem 0rem 2rem #ffd700;
}

@keyframes mymove {
  50% { box-shadow: 0rem 0rem 3rem #ffd700; }
}


ul.cards-split.transition li.card {
  transform: rotateZ(0deg);
}
ul.cards-split.transition li.card.card-1 {
  left: 0px;
}
ul.cards-split.transition li.card.card-2 {
  left: 20px;
}
ul.cards-split.transition li.card.card-3 {
  left: 40px;
}
ul.cards-split.transition li.card.card-4 {
  left: 60px;
}
ul.cards-split.transition li.card.card-5 {
  left: 80px;
}
ul.cards-split.transition li.card.card-6 {
  left: 100px;
}
ul.cards-split.transition li.card.card-7 {
  left: 120px;
}
ul.cards-split.transition li.card.card-8 {
  left: 140px;
}
ul.cards-split.transition li.card.card-9 {
  left: 160px;
}
ul.cards-split.transition li.card.card-10 {
  left: 180px;
}
ul.cards-split.transition li.card.card-11 {
  left: 200px;
}
ul.cards-split.transition li.card.card-12 {
  left: 220px;
}
ul.cards-split.transition li.card.card-13 {
  left: 240px;
}
ul.cards-split.transition li.card.card-14 {
  left: 260px;
}
ul.cards-split.transition li.card.card-15 {
  left: 280px;
  box-shadow: none !important;
}
.transition{width:40% !important;}
/*card css*/

ul.cards-split.transition li.card:hover {
    transform: rotateZ(-3deg);
    top: -10px;
}
.middelbox {
    display: table-cell;
    vertical-align: middle;
}
.cardmainbox {
    width: 100%;
    float: left;
    background-color: #221335;
    padding-bottom: 150px;
}
.cardmainbox2 {
    width: 100%;
    float: left;
    background-color: #221335;
    padding-bottom: 0px;
}
.videosection button {
  background-color: #800080;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color:#800080;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);    
  padding: 10px 30px;
  color: #fff;
  font-size: 25px;
  border: 1px solid #800080;
}

.videosection button:hover { border: 1px solid;
box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
outline-color: rgba(255, 255, 255, 0);
outline-offset: 15px;
text-shadow: 1px 1px 2px #427388; }

.arrow{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 10px solid #ffd700;
    border-right: 10px solid #ffd700;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/*footer loader css*/
#particles-js4 {
  position: absolute;
    height: 90vh;
	width: 22%;
}
#particles-js5 {
  position: absolute;
  height: 90vh;
  right:0;
  width: 27%;
}
.clk_container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  animation: rotate-move 4s ease-in-out infinite;
}

.dot { 
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition-delay: 0.1s;
  border: 1px solid #800080;
  animation: mymove 3s infinite;
  /*box-shadow: 0rem 0rem 2rem #ffd700;*/
}
.container3 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  /*filter: url('#goo');*/
  animation: rotate-move 4s ease-in-out infinite;
}
@keyframes dot-9-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-8-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-7-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

.dot-9 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-8 {
  background-color: #10beae;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-7 {
  background-color: #ffe386;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}


.container1 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  /*filter: url('#goo');*/
  animation: rotate-move 4s ease-in-out infinite;
}
@keyframes dot-6-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-5-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-4-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

.dot-6 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-5 {
  background-color: #10beae;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-4 {
  background-color: #ffe386;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}


.dot-3 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  animation: dot-2-move 20s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #ffe386;
  animation: dot-1-move 18s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  55% {transform: translate(-50%, -50%) rotate(0deg)}
  80% {transform: translate(-50%, -50%) rotate(360deg)}
  100% {transform: translate(-50%, -50%) rotate(360deg)}
}

@keyframes index {
  0%, 100% {z-index: 3}
  33.3% {z-index: 2}
  66.6% {z-index: 1}
}
/*footer loader css*/
	

.cardContainer {
  position: relative;
  /*width: 300px;*/
  height: 339px;
  /*min-width: 300px;*/
  min-height: 339px;
  /*margin: 4px;
  perspective: 1000px;*/
}

.active {
  transform: translateZ(0px) rotateY(180deg) !important;
}

.active:after {
  display: none;
}

.cardi {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cardi:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}

.cardi:hover {
  transform: translateZ(0px);
}

.cardi:hover:after {
  opacity: 1;
}

.cardi .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}

.cardi .front {
  z-index: 2;
}

.cardi .back {
  transform: rotateY(180deg);
}

.cardi .info {
  /*padding: 16px;*/
}

.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
}
/*.front .img1 {
  background-image: url(http://i.imgur.com/1aE1nMA.jpg);
}
.front .img2 {
  background-image: url(http://i.imgur.com/2p9VXAn.jpg);
}
.front .img3 {
  background-image: url(http://i.imgur.com/I5ABT2v.jpg);
}*/

.back {
  position: relative;
}
.back h2 {
  margin-top: 6px;
  margin-bottom: 18px;
}
.back .reviews {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.back .reviews p {
  color: #c4c4c4;
  font-weight: 300;
  margin: 1px 0 0 6px;
  transition: 0.3s ease-in-out;
}
.back .reviews:hover p {
  color: #555;
}
.back li {
  line-height: 22px;
  margin: 2px 0 6px 0;
}
.back .btn {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC324;
  background-image: linear-gradient(-90deg, #FFB714, #FFE579);
  border-radius: 5px;
  cursor: pointer;
}
.back .btn:hover h4 {
  transform: translateX(0px);
}
.back .btn:hover svg {
  transform: translateX(0px);
  opacity: 1;
}
.back .btn h4 {
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
}
.back .btn svg {
  margin: 1px 0 0 4px;
  transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}
