body {
  /*background-image: url('../images/voback4.png');*/
  height: 100vh;
  overflow-x: hidden;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #301934; 	
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 27%;
  height: 118vh;
}
#particles-js1 {
  position: absolute;
  width: 12%;
  height: 118vh;
}
#particles-js2 {
  position: absolute;
  width: 12%;
  height: 118vh;
  right:0;
}
#particles-js3 {
  position: absolute;
  width: 22%;
  height: 118vh;
  right:0;
}
#particles-js4 {
  position: absolute;
  width: 22%;
  height: 165vh;
}
/*.upper {
  background-image: url('../images/voback4.png');
  height: 123vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: 100%;
  font-family: 'Roboto Regular';
  background-attachment: fixed;
}*/
.night {
  position: relative;
  width: 100%;
  /*height: 100%;*/
  transform: rotateZ(45deg);
  top:75%;	
  right:30%;
}

.night2 {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(-125deg);
  left:25%; 	
}
.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #fff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -35px);
  left: calc(50% - 171px);
  -webkit-animation-delay: 8883ms;
          animation-delay: 8883ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 8883ms;
          animation-delay: 8883ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -175px);
  left: calc(50% - 46px);
  -webkit-animation-delay: 4147ms;
          animation-delay: 4147ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 4147ms;
          animation-delay: 4147ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 143px);
  left: calc(50% - 19px);
  -webkit-animation-delay: 1625ms;
          animation-delay: 1625ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 1625ms;
          animation-delay: 1625ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 199px);
  left: calc(50% - 110px);
  -webkit-animation-delay: 5973ms;
          animation-delay: 5973ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 5973ms;
          animation-delay: 5973ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 183px);
  left: calc(50% - 128px);
  -webkit-animation-delay: 5975ms;
          animation-delay: 5975ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 5975ms;
          animation-delay: 5975ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 200px);
  left: calc(50% - 259px);
  -webkit-animation-delay: 9747ms;
          animation-delay: 9747ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 9747ms;
          animation-delay: 9747ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 142px);
  left: calc(50% - 256px);
  -webkit-animation-delay: 9399ms;
          animation-delay: 9399ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 9399ms;
          animation-delay: 9399ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 71px);
  left: calc(50% - 297px);
  -webkit-animation-delay: 4996ms;
          animation-delay: 4996ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 4996ms;
          animation-delay: 4996ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 113px);
  left: calc(50% - 295px);
  -webkit-animation-delay: 6090ms;
          animation-delay: 6090ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 6090ms;
          animation-delay: 6090ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -174px);
  left: calc(50% - 181px);
  -webkit-animation-delay: 8193ms;
          animation-delay: 8193ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 8193ms;
          animation-delay: 8193ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 0px);
  left: calc(50% - 286px);
  -webkit-animation-delay: 2902ms;
          animation-delay: 2902ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 2902ms;
          animation-delay: 2902ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -47px);
  left: calc(50% - 246px);
  -webkit-animation-delay: 2496ms;
          animation-delay: 2496ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 2496ms;
          animation-delay: 2496ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -189px);
  left: calc(50% - 202px);
  -webkit-animation-delay: 4768ms;
          animation-delay: 4768ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 4768ms;
          animation-delay: 4768ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - 0px);
  left: calc(50% - 229px);
  -webkit-animation-delay: 101ms;
          animation-delay: 101ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 101ms;
          animation-delay: 101ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -110px);
  left: calc(50% - 298px);
  -webkit-animation-delay: 2194ms;
          animation-delay: 2194ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 2194ms;
          animation-delay: 2194ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 103px);
  left: calc(50% - 67px);
  -webkit-animation-delay: 4664ms;
          animation-delay: 4664ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 4664ms;
          animation-delay: 4664ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -55px);
  left: calc(50% - 147px);
  -webkit-animation-delay: 2924ms;
          animation-delay: 2924ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 2924ms;
          animation-delay: 2924ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -72px);
  left: calc(50% - 37px);
  -webkit-animation-delay: 8216ms;
          animation-delay: 8216ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 8216ms;
          animation-delay: 8216ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 180px);
  left: calc(50% - 140px);
  -webkit-animation-delay: 2490ms;
          animation-delay: 2490ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 2490ms;
          animation-delay: 2490ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -100px);
  left: calc(50% - 172px);
  -webkit-animation-delay: 3334ms;
          animation-delay: 3334ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 3334ms;
          animation-delay: 3334ms;
}


.shooting_star_mv {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #fff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  /*-webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;*/
}
.shooting_star_mv::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star_mv::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star_mv:nth-child(1) {
  top: calc(50% - -35px);
  left: calc(50% - 171px);
  /*-webkit-animation-delay: 8883ms;
          animation-delay: 8883ms;*/
}
.shooting_star_mv:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  /*-webkit-animation-delay: 8883ms;
          animation-delay: 8883ms;*/
}
.shooting_star_mv:nth-child(2) {
  top: calc(50% - -175px);
  left: calc(50% - 46px);
  /*-webkit-animation-delay: 4147ms;
          animation-delay: 4147ms;*/
}
.shooting_star_mv:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  /*-webkit-animation-delay: 4147ms;
          animation-delay: 4147ms;*/
}
.shooting_star_mv:nth-child(3) {
  top: calc(50% - 143px);
  left: calc(50% - 19px);
  /*-webkit-animation-delay: 1625ms;
          animation-delay: 1625ms;*/
}
.shooting_star_mv:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  /*-webkit-animation-delay: 1625ms;
          animation-delay: 1625ms;*/
}
.shooting_star_mv:nth-child(4) {
  top: calc(50% - 199px);
  left: calc(50% - 110px);
  /*-webkit-animation-delay: 5973ms;
          animation-delay: 5973ms;*/
}
.shooting_star_mv:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  /*-webkit-animation-delay: 5973ms;
          animation-delay: 5973ms;*/
}
.shooting_star_mv:nth-child(5) {
  top: calc(50% - 183px);
  left: calc(50% - 128px);
  /*-webkit-animation-delay: 5975ms;
          animation-delay: 5975ms;*/
}
.shooting_star_mv:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  /*-webkit-animation-delay: 5975ms;
          animation-delay: 5975ms;*/
}
.shooting_star_mv:nth-child(6) {
  top: calc(50% - 200px);
  left: calc(50% - 259px);
  /*-webkit-animation-delay: 9747ms;
          animation-delay: 9747ms;*/
}
.shooting_star_mv:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  /*-webkit-animation-delay: 9747ms;
          animation-delay: 9747ms;*/
}
.shooting_star_mv:nth-child(7) {
  top: calc(50% - 142px);
  left: calc(50% - 256px);
  /*-webkit-animation-delay: 9399ms;
          animation-delay: 9399ms;*/
}
.shooting_star_mv:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  /*-webkit-animation-delay: 9399ms;
          animation-delay: 9399ms;*/
}


@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
/*shooting star*/



/*loader css*/
.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 400;
}

.plane {
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  top: 25px;
  left: 20px;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}
.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px darkviolet, inset 0 0 60px white;
}
.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px white;
}
.plane.main .circle::before {
  transform: translateZ(-90px);
}
.plane.main .circle::after {
  transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
/*loader css*/
.main-container {
    position: absolute;
    /*z-index: 9999;*/
    top: 0;
    left: 0; right:-15px;
    border-top: 3px solid #a41c84;
}
.logo img {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: block;
    padding: 20px;
}
.titlebox { width: 100%; float: left; margin-top: 30px; }
.titlebox h1 { color: #FFF;
text-align: center;
font-weight: bold;
/*font-size: 45px;*/
font-size: 30px;
letter-spacing: 1px;
}

.titlebox p { color: #FFF;
text-align: center;
font-weight: 300; font-size: 22px; letter-spacing:1px; }
.cardarea { width: 100%; float: left; margin: 30px 0;}
.selectbutton {
    max-width: 400px;
    background: #A541BB;
    width: 100%;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-top: 60px;  
    transition: 0.4s;  
    border-radius: 50px;
    cursor:none !important;
    text-decoration:none;
}
.selectbutton2 {
    background: #A541BB;
    width:auto;
    padding: 0 20px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    /*text-transform: uppercase;*/
    letter-spacing: 1px; transition: 0.4s; 
    font-weight: normal;
    border-radius: 50px;
}
.selectbutton2:hover { color: #fff; }
.animate-bounce  {animation: bounce 1s infinite;}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

.selectbutton:hover { color: #fff; }
.cardimg { width: 100%; float: left; text-align: center; margin-bottom: 25px;}
.cardimg img { max-width: 180px; width: 100%; border-radius: 15px; border: 1px solid #800080; box-shadow: 10px 10px 5px #ffd700;-moz-box-shadow: 10px 10px 5px #ccc;-webkit-box-shadow: 0 0 30px #ffd700;-khtml-box-shadow: 10px 10px 5px #ccc;}
.personalized { width: 100%; float: left;  background-image: linear-gradient(#221335, #3d235e); /*padding: 100px 0;*/ }
.personalized h2 { padding: 20px;
color: #fff;
text-align: center;
font-size: 30px;
line-height: 40px;
}

.personalized span {
    color: #377bb7;
}
.personalized ul { list-style: none; }
.personalized ul li { display: inline-block;
padding: 10px 0 30px 0;
color: #fff;
font-size: 17px;
text-align: left;
}
.personalized ul li span { float: left; font-size: 18px; position: relative; left: -48px; }
.personalized ul li p { padding-left: 27px; margin-bottom: 0; text-align: center; }

.videosection { width: 100%; float: left; background-image: linear-gradient(#3d235e, #3d235f); padding: 50px 0 0 0;  }
.vdo-bg {
    background: #311b4d;
    padding: 30px 20px 20px 20px;
}
.videosection h3 { padding: 20px;
letter-spacing: 1px;
color: #fff;
text-align: center;
font-size: 18px;
margin-top: 15px;
}
.videosection span {
    font-size: 70px;
    color: #e8e4c5;
    background: #fff;
    max-width: 130px;
    margin: 0 auto;
    height: 130px;
    line-height: 130px;
    border-radius: 20px;
    display: inline-block;
}
.videosection p { display: inline-block;
padding: 10px;
color: #fff;
font-size: 14px;
letter-spacing: 1px;
margin-bottom: 0;
margin-top: 10px;
width: 100%;
}
.oraclecards { width: 100%; float: left; background-image: linear-gradient(#3d235f, #3d235f); padding: 0; }
.oraclecards h2 { padding: 20px;
letter-spacing: 2px;
color: #fff;
text-align: center;
font-size: 18px;
word-spacing: 3px; }
.oraclecards p { color: #fff;
text-align: center;
font-size: 13px;
letter-spacing: 2px; }
.ourmission {  width: 100%; margin:0 auto;  /*padding:0 0 100px 0;*/ padding:0 0 0 0;}
.ourmission h2 { padding: 30px 0;
letter-spacing:0;
color: #fff;
text-align: center;
font-size: 24px;
margin: 0;
font-weight: bold;
 }

.ourmission p { 
color: #fff;
text-align: center;
font-size: 14px;
letter-spacing: 1px;
}

.questions {  width: 100%; float: left;  padding:50px 0 0 0; background-image: linear-gradient(#3d235f, #000); position: relative; }
 .faq-bg { width: 100%; float: left; /*background-image: url(../images/patterns-footer-aits.png);*/ background-size: cover; min-height:400px; }   
.questions h2 { padding: 0 20px;
color: #fff;
text-align: center;
font-size: 24px;
word-spacing: 0;
margin: 0 0 30px 0; font-weight: bold; }
/**/
#main {
    max-width: 800px;
    margin: 0 auto;
}
#main #faq .card {
  margin-bottom: 5px;
  border: 0;
  letter-spacing: 1px;
  font-size: 14px;
  background: transparent;
}

#main #faq .card .card-header {
  border: 0;
  /*-webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);*/
  border-radius: 2px;
  padding: 0;
}

#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #A541BB;
  padding: 10px 15px;
  font-weight: normal;
  font-size: 16px;
letter-spacing: 1px;
}

#main #faq .card .card-header .btn-header-link:after {
  content: "\f068";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  float: left;
  padding-right: 15px;
  background: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #A541BB;
  padding: 0px 7px;
  font-size: 14px;
  line-height: 25px;
  margin-right: 16px;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: #A541BB;
  color: #fff;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f067";
}

#main #faq .card .collapsing {
  /*background: #FFE472;*/
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  /*background-color: rgba(0,0,0,0.9);*/
  line-height: 30px;
  color: #fff;
  border-bottom: 1px solid;
}
.card .card-body {
    padding: 10px 15px;
   /* border-top: 1px solid #EFD462;*/
}
.btn:focus, .btn.focus { box-shadow: none; }
/**/
.footer { width: 100%;float: left; background-color:#000; padding: 20px 0; }
.footer p { margin:0; font-size: 16px; color: #fff; }
.footer a { color: #fff; font-size: 16px; margin-left: 10px; }
#loader{opacity:0.5; background: #000;z-index:44;}

/*card csss*/
ul.cards {
  width: 660px;
  margin: 0 auto 20px;
  height: 300px;
  list-style-type: none;
  position: relative;
  padding: 20px 0;
  cursor: pointer;
}
ul.cards li.title {
  margin: 0 0 20px;
}
ul.cards li.title h2 {
  font-weight: 700;
}
ul.cards li.card {
  background: #FFF;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 0px;
  box-shadow: 1px 2px 2px 0 #aaa;
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}
ul.cards li.card img {
  max-width: 100%;
  height: auto;
}
ul.cards li.card div.content {
  padding: 5px 10px;
}
ul.cards li.card.card-1 {
  z-index: 10;
  /*transform: rotateZ(-2deg);*/
}
ul.cards li.card.card-2 {
  z-index: 9;
  /*transform: rotateZ(-7deg);*/
  transition-delay: 0.05s;
}
ul.cards li.card.card-3 {
  z-index: 8;
  /*transform: rotateZ(5deg);*/
  transition-delay: 0.1s;
}
ul.cards.transition li.card {
  transform: rotateZ(0deg);
}
ul.cards.transition li.card.card-1 {
  left: 440px;
}
ul.cards.transition li.card.card-2 {
  left: 220px;
}
ul.cards-split {
  width: 640px;
  height: 350px;
  list-style-type: none;
  position: relative;
  margin: 0 auto 20px;
  padding: 20px;
  /*cursor: pointer;*/
}
ul.cards-split li.title {
  margin: 0 0 20px;
}
ul.cards-split li.title h2 {
  font-weight: 700;
}
ul.cards-split li.card {
  /*background: #FFF;*/
   background: #800080;
  overflow: hidden;
  /*height: 200px;*/
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 220px;
  box-shadow: 1px 2px 2px 0 #aaa;
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}
ul.cards-split li.card img {
  max-width: 100%;
  height: auto;
}

/*ul.cards-split li.card div.content {
  padding: 5px 10px;
}*/
ul.cards-split li.card.card-1 {
  z-index: 8;
  /*transform: rotateZ(-2deg);*/
}
ul.cards-split li.card.card-2 {
  z-index: 9;
  /*transform: rotateZ(-7deg);*/
  transition-delay: 0.05s;
}
ul.cards-split li.card.card-3 {
  z-index: 10;
  /*transform: rotateZ(5deg);*/
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-4 {
  z-index: 11;
  /*transform: rotateZ(5deg);*/
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-5 {
  z-index: 12;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-6 {
  z-index: 13;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-7 {
  z-index: 14;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-8 {
  z-index: 15;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-9 {
  z-index: 16;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-10 {
  z-index: 17;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-11 {
  z-index: 18;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-12 {
  z-index: 19;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-13 {
  z-index: 20;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-14 {
  z-index: 21;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-15 {
  z-index: 22;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-16 {
  z-index: 23;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-17 {
  z-index: 24;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-18 {
  z-index: 25;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-19 {
  z-index: 26;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-20 {
  z-index: 27;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-21 {
  z-index: 28;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-22 {
  z-index: 29;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-23 {
  z-index: 30;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-24 {
  z-index: 31;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-25 {
  z-index: 32;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-26 {
  z-index: 33;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-27 {
  z-index: 34;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-28 {
  z-index: 35;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-29 {
  z-index: 36;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-30 {
  z-index: 37;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-31 {
  z-index: 38;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-32 {
  z-index: 39;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-33 {
  z-index: 40;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-34 {
  z-index: 41;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-35 {
  z-index: 42;
  transition-delay: 0.1s;
}
ul.cards-split li.card.card-36 {
  z-index: 43;
  transition-delay: 0.1s;
  border-radius: 15px;
  border: 1px solid #800080;
  /*box-shadow: 10px 10px 5px #9e9e9e;*/
  animation: mymove 8s infinite;
  box-shadow: 0rem 1rem 4rem #ffd700;
  /*-moz-box-shadow: 10px 10px 5px #9e9e9e;
  -webkit-box-shadow: 0 0 30px #9e9e9e;
  -khtml-box-shadow: 10px 10px 5px #9e9e9e;*/
}
@keyframes mymove {
  50% {box-shadow: 0px 0px 20px 10px white;}
}


ul.cards-split.transition li.card {
  transform: rotateZ(0deg);
}
ul.cards-split.transition li.card.card-1 {
  left: 0px;
}
ul.cards-split.transition li.card.card-2 {
  left: 20px;
}
ul.cards-split.transition li.card.card-3 {
  left: 40px;
}
ul.cards-split.transition li.card.card-4 {
  left: 60px;
}
ul.cards-split.transition li.card.card-5 {
  left: 80px;
}
ul.cards-split.transition li.card.card-6 {
  left: 100px;
}
ul.cards-split.transition li.card.card-7 {
  left: 120px;
}
ul.cards-split.transition li.card.card-8 {
  left: 140px;
}
ul.cards-split.transition li.card.card-9 {
  left: 160px;
}
ul.cards-split.transition li.card.card-10 {
  left: 180px;
}
ul.cards-split.transition li.card.card-11 {
  left: 200px;
}
ul.cards-split.transition li.card.card-12 {
  left: 220px;
}
ul.cards-split.transition li.card.card-13 {
  left: 240px;
}
ul.cards-split.transition li.card.card-14 {
  left: 260px;
}
ul.cards-split.transition li.card.card-15 {
  left: 280px;
}
ul.cards-split.transition li.card.card-16 {
  left: 300px;
}
ul.cards-split.transition li.card.card-17 {
  left: 320px;
}
ul.cards-split.transition li.card.card-18 {
  left: 340px;
}
ul.cards-split.transition li.card.card-19 {
  left: 360px;
}
ul.cards-split.transition li.card.card-20 {
  left: 380px;
}
ul.cards-split.transition li.card.card-21 {
  left: 400px;
}
ul.cards-split.transition li.card.card-22 {
  left: 420px;
}
ul.cards-split.transition li.card.card-23 {
  left: 440px;
}
ul.cards-split.transition li.card.card-24 {
  left: 460px;
}
ul.cards-split.transition li.card.card-25 {
  left: 480px;
}
ul.cards-split.transition li.card.card-26 {
  left: 500px;
}
ul.cards-split.transition li.card.card-27 {
  left: 520px;
}
ul.cards-split.transition li.card.card-28 {
  left: 540px;
}
ul.cards-split.transition li.card.card-29 {
  left: 560px;
}
ul.cards-split.transition li.card.card-30 {
  left: 580px;
}
ul.cards-split.transition li.card.card-31 {
  left: 600px;
}
ul.cards-split.transition li.card.card-32 {
  left: 620px;
}
ul.cards-split.transition li.card.card-33 {
  left: 640px;
}
ul.cards-split.transition li.card.card-34 {
  left: 660px;
}
ul.cards-split.transition li.card.card-35 {
  left: 680px;
}
ul.cards-split.transition li.card.card-36 {
  left: 700px;
  box-shadow: none !important;	  
}
.transition{width:80% !important;}
/*card css*/

.middelbox {
    display: table-cell;
    vertical-align: middle;
}
.cardmainbox {
    width: 100%;
    float: left;
    background-color: #221335;
    padding-bottom: 150px;
}
button {
  /*margin: 10rem 0 0 10rem;*/
  padding: 1.5rem 2.5rem;
  border: none;
  outline: none;
  /*background-image: linear-gradient(to top left, rgb(57, 176, 255) 60%, #fff);*/
  color: white;
  /*letter-spacing: 0.5rem;
  font-size: 2rem;
  box-shadow: 1rem 1rem 4rem #808080;*/
  position: relative;
  overflow: hidden;
  width:45%;
  background-color: #A541BB;
  border-radius: 15px;
}

button span:nth-child(1) {
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(0, 153, 255) 30%,
    rgb(203, 6, 230) 40%,
    rgb(57, 176, 255)
  );
  top: 0;
  left: 0;
  animation: line1 1s linear infinite;
}

@keyframes line1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

button span:nth-child(2) {
  position: absolute;
  height: 100%;
  width: 0.2rem;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 153, 255) 30%,
    rgb(203, 6, 230) 40%,
    rgb(57, 176, 255)
  );
  top: 0;
  right: 0;
  animation: line2 1s linear 1.5s infinite;
}

@keyframes line2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

button span:nth-child(3) {
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(0, 153, 255) 30%,
    rgb(203, 6, 230) 40%,
    rgb(57, 176, 255)
  );
  bottom: 0;
  left: 0;
  animation: line3 1s linear infinite;
}

@keyframes line3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

button span:nth-child(4) {
  position: absolute;
  height: 100%;
  width: 0.2rem;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 153, 255) 30%,
    rgb(203, 6, 230) 40%,
    rgb(57, 176, 255)
  );
  top: 0;
  left: 0;
  animation: line4 1s linear 1.5s infinite;
}

@keyframes line4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
